*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
}
body {
    background-color: #fff0db;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1vw;
}
.container-task{
    display: flex;
    justify-content:center;
    align-items: center;
    margin:15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5vw;
    /* border-bottom: 1px solid #9881FF; */
}
.form-element{
    font-size:3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #333;
}
input{
    width: 50vw;
    height:4vw;
    border-radius: 0.5rem;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #007bff;
    background-color: #fff0db;
    color: #333;
}
input:focus {
    border-color: #ffc107;
    outline: none;
}
.btn-add {
    height: 4vw;
    border-radius: 0.5rem;
    margin-left:10px;
    font-size: 2vw;
}
.btn-toggle {
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 2rem;
    width:4rem;
    border-radius: 0.5rem;
}

.btn-del {
    margin-right: 10px;
    margin-bottom: 10px;
    height: 2rem;
    width:4rem;
    border-radius: 0.5rem;   
}
button{
    background-color: #8EBDFF;
    color:white;
    border:none;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #007bff;
}

